.table{
    width: 89% !important;
    height: 90%;
    margin-left: 65px;
    margin-top: 25p
}
.maindivpagination{
    margin: 0px 119px 14px 1158px;
}
.filterbox{
    width: 79%;
    height: 68px;
    border: 3px solid black;
    margin: 14px 5px 8px 127px;
    display: x;
    text-align: center;
    padding-top: 8px;
}
.grocery {
    padding: 0.25rem;
    padding-left: 1rem;
    background: #e4ebf1;
    border-radius: 8px;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: black;
  }
  
  .submit-btn{
    margin-right: 25px;
    background-color: black;
    color: #F1F5F8;
    border-radius: 6px;
    width: 76px;
    margin-left: 15px;
  }
  .datediv{
    margin-left: 30px;
  }