.App {
  text-align: center;
  /* background-color: #f8f8f8; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  font-family: sans-serif;
  text-align: center;
}
/* .App {
  
} */

.container {
  width:  20vw;
  height: 40vh;
  /* border: 1px solid; */
background-color: #787d88;
  
}
.container h2{
  color: black;
}

.form-group{
  width: 30%;
  text-align: center;
 margin-left:  32%;

}
.btn btn-default{
  width: 30px;
  border: none;
  height: 20px;

}
/* .maindivpagination{
  text-align: center;
} */
